[{rabbitmq_shovel,
  [ {shovels, [ {shovel_local_to_destination,
                  [ {destination,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'exchange.declare',
                                            [ {exchange, <<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"shovel3">>}
                                            ]}
                                          ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                      ]},
                    {source,
                      [ {protocol, amqp091},
                        {uris, ["amqp://test:test@xx.xx.xx.xx"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"shovel3">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"shovel3">>}
                                            ]}
					 ]},
				
					{queue, <<"shovel3">>},
                        {prefetch_count, 1}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 5}
                  ]},
	
		{shovel_destination_to_local,
                  [ {source,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'exchange.declare',
                                            [ {exchange, <<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"shovel13">>}
                                            ]}
                                          ]},
                        {queue, <<"shovel13">>},
                        {prefetch_count, 1}
                      ]},
                    {destination,
                      [ {protocol, amqp091},
                        {uris, ["amqp://test:test@xx.xx.xx.xx"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"shovel3">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"shovel13">>}
                                            ]}
					 ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 5}
                  ]}	
              ]}
  ]}].