[{amqp_client, [
    {ssl_options, [{cacertfile,"C:\\testca_store\\bundle\\pdp-shovel-1.ca-bundle"},
	{certfile,"C:\\testca_store\\client\\client_certificate.pem"},
                {keyfile,"C:\\testca_store\\client\\private_key.pem"},
		{password, "MySecretPassword"},
	{server_name_indication,"pdp-shovel-2"},
    {verify,verify_peer},
    {fail_if_no_peer_cert,true}]}
	]},
 {rabbitmq_shovel,
  [ {shovels, [ {shovel_get_remote_data,
                  [ {destination,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'exchange.declare',
                                            [ {exchange,<<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"queue11">>}
                                            ]}
                                          ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                      ]},
                    {source,
                      [ {protocol, amqp091},
                        {uris, ["amqp://test:test@xx.xx.xx.xx"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"queue11">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"queue11">>}
                                            ]}
					 ]},
				
					{queue, <<"queue11">>},
                        {prefetch_count, 1}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 5}
                  ]},
	
		{shovel_put_local_data,
                  [ {source,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'exchange.declare',
                                            [ {exchange, <<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"queue22">>}
                                            ]}
                                          ]},
                        {queue, <<"queue22">>},
                        {prefetch_count, 1}
                      ]},
                    {destination,
                      [ {protocol, amqp091},
                        {uris, ["amqp://test:test@xx.xx.xx.xx"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"queue22">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"queue22">>}
                                            ]}
					 ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 5}
                  ]}
              ]}
  ]}].