[
 {amqp_client, [
    {ssl_options, [{cacertfile,"C:\\testca_store\\bundle\\pdp-shovel-1.ca-bundle"},
	{certfile,"C:\\testca_store\\client\\client_certificate.pem"},
                {keyfile,"C:\\testca_store\\client\\private_key.pem"},
	{server_name_indication,"pdp-shovel-2"},
    {verify,verify_peer},
    {fail_if_no_peer_cert,true}]}
	]},
  {rabbitmq_shovel,
  [ {shovels, [ {shovel_put,
                  [ {source,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'queue.declare',
                                            [{queue, <<"AZQueueData">> },  durable]},
				            {'exchange.declare',
                                            [ {exchange, <<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"AZQueueData">>},
					 {routing_key, <<"AZQueueDataRoute">>}
                                            ]}
                                          ]},
                        {queue, <<"AZQueueData">>},
                        {prefetch_count, 1}
                      ]},
                    {destination,
                      [ {protocol, amqp091},
                        {uris, ["amqps://test-cn:test-cn-auth-mek@xx.xx.xx.xx:5671"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"AZQueueData">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"AZQueueData">>},
					      {routing_key, <<"AZQueueDataRoute">>}
                                            ]}
					 ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 15}
                  ]}
  
		
		
		
              ]}
  ]}].