[{rabbit, [
{loopback_users, [<<"guest">>]},
{tcp_listeners, [{"0.0.0.0",5672}]},
{ssl_listeners, [5671]},
{ssl_options, [{cacertfile,"C:\\testca\\bundle\\pdp-shovel-2.ca-bundle"},
		{certfile,"C:\\testca\\server2\\server_certificate.pem"},
                {keyfile,"C:\\testca\\server2\\private_key.pem"},
		{verify,verify_peer},
                {fail_if_no_peer_cert, true}]},
{ssl_handshake_timeout, 15000}

     
]}
].