[
 %% RabbitMQ Shovel Plugin
 %%
 %% See https://www.rabbitmq.com/docs/shovel for details
 %% ----------------------------------------------------------------------------
  {rabbitmq_shovel,
  [ {shovels, [ {shovel_put_X509,
                  [ {source,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'queue.declare',
                                            [{queue, <<"AZQueueDataX509">> },  durable]},
				            {'exchange.declare',
                                            [ {exchange, <<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"AZQueueDataX509">>},
					 {routing_key, <<"AZQueueDataRouteX509">>}
                                            ]}
                                          ]},
                        {queue, <<"AZQueueDataX509">>},
                        {prefetch_count, 1}
                      ]},
                    {destination,
                      [ {protocol, amqp091},
                        {uris, ["amqps://pdp-shovel-1@xx.xx.xx.xx:5671?cacertfile=C:\\testca_store\\bundle\\pdp-shovel-1.ca-bundle&certfile=C:\\testca_store\\client\\client_certificate.pem&keyfile=C:\\testca_store\\client\\private_key.pem&verify=verify_peer&fail_if_no_peer_cert=true&server_name_indication=pdp-shovel-2&auth_mechanism=external&heartbeat=15"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"AZQueueDataX509">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"AZQueueDataX509">>},
					      {routing_key, <<"AZQueueDataRouteX509">>}
                                            ]}
					 ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 15}
                  ]}
				   %% next shovel add comma
				   %% ,
				   %% {shovel_put_X509_2, [
				   %% ]}
		
		
              ]}
  ]}].